<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{user.username}}</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.jpg') }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- location  -->
        <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
        <script src="{{ url_for('static', filename='/javascript/location.js') }}"></script>
        <script src="{{ url_for('static', filename='/javascript/distance.js') }}"></script>

</head>

<body>
        <script>
                function myLike(id, sno) {
                        var x = document.getElementById(id);

                        if (x.style.backgroundColor === "rgb(255, 191, 226)") {
                                const url1 = `/user/like`
                                $.ajax({
                                        data: {
                                                message: 'liked',
                                                tousersno: sno
                                        },
                                        url: url1,
                                        type: 'POST',
                                        success: function (response) {
                                                console.log("liked")
                                                x.style.backgroundColor = "rgb(255, 0, 140)";
                                                console.log("success")
                                        },
                                        error: function (response) {
                                                console.log("error")

                                        }
                                });




                        } else if (x.style.backgroundColor === "rgb(255, 0, 140)") {
                                const url1 = `/user/like`
                                $.ajax({
                                        data: {
                                                message: 'unliked',
                                                tousersno: sno
                                        },
                                        url: url1,
                                        type: 'POST',
                                        success: function (response) {
                                                x.style.backgroundColor = "rgb(255, 191, 226)";
                                                console.log("disliked")
                                                console.log("success")
                                        },
                                        error: function (response) {
                                                console.log("error")

                                        }
                                });



                        } else {
                                x.style.backgroundColor = "rgb(255, 191, 226)";

                        }
                }

                function mySuperLike(id, sno) {
                        var x = document.getElementById(id);
                        if (x.style.backgroundColor === "rgb(255, 191, 226)") {
                                const url1 = `/user/superlike`
                                $.ajax({
                                        data: {
                                                message: 'superliked',
                                                tousersno: sno
                                        },
                                        url: url1,
                                        type: 'POST',
                                        success: function (response) {
                                                x.style.backgroundColor = "rgb(255, 0, 140)";
                                                console.log("superliked")
                                                console.log("success")
                                        },
                                        error: function (response) {
                                                console.log("error")

                                        }
                                });



                        } else if (x.style.backgroundColor === "rgb(255, 0, 140)") {
                                const url1 = `/user/superlike`
                                $.ajax({
                                        data: {
                                                message: 'unsuperliked',
                                                tousersno: sno
                                        },
                                        url: url1,
                                        type: 'POST',
                                        success: function (response) {
                                                x.style.backgroundColor = "rgb(255, 191, 226)";
                                                console.log("superdisliked")
                                                console.log("success")
                                        },
                                        error: function (response) {
                                                console.log("error")

                                        }
                                });


                        } else {
                                x.style.backgroundColor = "rgb(255, 191, 226)";

                        }
                }

                function mySave(id, sno) {
                        var x = document.getElementById(id);
                        if (x.style.backgroundColor === "rgb(255, 191, 226)") {
                                const url1 = `/user/save`
                                $.ajax({
                                        data: {
                                                message: 'saved',
                                                tousersno: sno
                                        },
                                        url: url1,
                                        type: 'POST',
                                        success: function (response) {
                                                x.style.backgroundColor = "rgb(255, 0, 140)";
                                                console.log("saved")
                                                console.log("success")
                                        },
                                        error: function (response) {
                                                console.log("error")

                                        }
                                });


                        } else if (x.style.backgroundColor === "rgb(255, 0, 140)") {
                                const url1 = `/user/save`
                                $.ajax({
                                        data: {
                                                message: 'unsaved',
                                                tousersno: sno
                                        },
                                        url: url1,
                                        type: 'POST',
                                        success: function (response) {
                                                x.style.backgroundColor = "rgb(255, 191, 226)";
                                                console.log("unsaved")
                                                console.log("success")
                                        },
                                        error: function (response) {
                                                console.log("error")

                                        }
                                });


                        } else {
                                x.style.backgroundColor = "rgb(255, 191, 226)";

                        }
                }

        </script>
        <a id="backhome"href="/">
                <button ><span class="material-icons">
                                arrow_back
                        </span></button>
        </a>
        <div class="upper">
                <div class="profileimg"><img src="/profile/images/{{user.username}}">
                </div>
                <div class="info">
                        <div id="info1">
                                <div id="username">{{user.username}} </div>
                                {% if username==user.username %}
                                <a href="/profile/editprofile">
                                        <button type="button" class="btn btn-info">edit profile</button>
                                </a>

                                {% endif %}
                                <script>
                                        jQuery("location{{user.sno}}").ready(function() {
                                                d=getDistance({{user.latitude}},{{user.longitude}},{{me.latitude}},{{me.longitude}})
                                        document.getElementById("location{{user.sno}}").innerText= d
                                              });
                                        
                                </script>
                                <div class="location1" ><span class="material-icons">location_on</span><div id="location{{user.sno}}">
                                        </div>
                                </div>
                        </div>
                        <div id="info2">
                                <div id="name">{{user.first_name}} {{user.last_name}} {{user.age}}</div>
                                <div id="location"><span class="material-icons">
                                                location_on
                                        </span>{{user.locationCity}}, {{user.locationState}}, {{user.locationCountry}}
                                </div>
                                <div id="intro">{{user.intro}}</div>
                                <div id="symbols">
                                        <button onClick="myLike('like{{user.sno}}a','{{user.sno}}')"
                                                id="like{{user.sno}}a" type="button" class="btn btn-primary"><span
                                                        class="material-icons">
                                                        thumb_up_off_alt
                                                </span></button>



                                        <button onClick="mySuperLike('slike{{user.sno}}a','{{user.sno}}')"
                                                id="slike{{user.sno}}a" type="button" class="btn btn-primary"><span
                                                        class="material-icons">
                                                        favorite_border
                                                </span></button>


                                        <button onClick="mySave('save{{user.sno}}a','{{user.sno}}')"
                                                id="save{{user.sno}}a" type="button" class="btn btn-primary"><span
                                                        class="material-icons">
                                                        bookmark
                                                </span></button>
                                        <a href="/chats/{{user.username}}">
                                                <img src="{{ url_for('static', filename='icons/messenger.png') }}">

                                        </a>

                                        <a href="{{user.facebook}}">
                                                <img src="{{ url_for('static', filename='icons/facebook.png') }}">

                                        </a>
                                        <a href="{{user.instagram}}">
                                                <img src="{{ url_for('static', filename='icons/instagram.png') }}">

                                        </a>
                                </div>
                        </div>
                </div>
        </div>

        <hr>
        <br>
        <br>
        {% if username==user.username %}
        <a href="/profile/{{user.username}}/otherimages">
                <button id="imgbutton" type="button" class="btn btn-info">Add Images</button>
        </a>

        {% endif %}

        <div class="lower">
                {% for image in images %}

                <div class="responsive">
                        <div class="gallery">
                                <a target="_blank" href="/profile/otherprofileimages/{{image.id}}">
                                        <img src="/profile/otherprofileimages/{{image.id}}" alt="Cinque Terre"
                                                width="600" height="400">
                                </a>

                        </div>
                </div>
                {% endfor %}
        </div>






        <script>
                function Like(id1, id2, sno) {
                        var x = document.getElementById(id1);
                        var y = document.getElementById(id2);
                        var z = parseInt(y.innerText);
                        console.log(z)
                        if (x.style.backgroundColor === "rgb(255, 159, 212)") {
                                console.log("liked")
                                const url1 = `/posts/like`
                                $.ajax({
                                        data: {
                                                message: 'liked',
                                                sno: sno
                                        },
                                        url: url1,
                                        type: 'POST',
                                        success: function (response) {
                                                z = z + 1;
                                                y.innerHTML = z;
                                                x.style.backgroundColor = "rgb(255, 0, 140)";
                                                console.log("success")
                                        },
                                        error: function (response) {
                                                console.log("error")

                                        }
                                });
                        } else if (x.style.backgroundColor === "rgb(255, 0, 140)") {
                                console.log("disliked")
                                const url1 = `/posts/like`
                                $.ajax({
                                        data: {
                                                message: 'unliked',
                                                sno: sno
                                        },
                                        url: url1,
                                        type: 'POST',
                                        success: function (response) {
                                                z = z - 1;
                                                y.innerHTML = z;
                                                x.style.backgroundColor = "rgb(255, 159, 212)";
                                                console.log("success")
                                        },
                                        error: function (response) {
                                                console.log("error")

                                        }
                                });



                        } else {
                                x.style.backgroundColor = "rgb(255, 159, 212)";
                                console.log("else")
                        }
                }
        </script>
        {% for post in posts %}
        <div>
                <div class="post">
                        <img class="postimg" src="/posts/images/{{post.id}}">
                        <div onClick='myredirect("{{post.username}}/profile")' class="pinfo">
                                <h3 class="name">{{post.name}} {{post.age}}</h3>
                                <h5 class="location">{{post.City}}, {{post.State}}, {{post.Country}}</h5>
                                <p>{{post.ntime}}</p>

                        </div>
                        
                        <div class="like">
                                <button onClick="Like('like{{post.id}}','no{{post.id}}','{{post.id}}')"
                                        id="like{{post.id}}" type="button" class="btn btn-primary"><span
                                                class="material-icons">
                                                thumb_up_off_alt
                                        </span></button>
                                <h4 id="no{{post.id}}">{{post.like}}</h4>

                        </div>
                </div>
                {% endfor %}
        </div>
        </div>

        <script>
                function myredirect(myurl) {
                        location.href = myurl;
                }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
        
</body>

</html>